<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Final Project Store</title>
    <link rel="stylesheet" href="gridstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="app.js"></script>
</head>
<body>

<!-- <div id="app">
  <button v-on:click="changeText('Some cool text')">Change Text</button>
  <button v-on:click="changeText('more text')">Change Text</button>
  <button v-on:click="changeText('again some more text')">Change Text</button>
  {{test}}
  <button v-on:click="addItem">Add Item</button>
  <input type="text" placeholder="Name" v-model="form.name"/>
  <button v-on:click="addItem">Add Item</button>
  <div v-for="item in list">
    <h1>{{item.name}}</h1>
  </div>
</div> -->

<!-- <div class="addNewItem">
  <form onsubmit="return getForm()">
    <p>enter new item</p>
    <input type="text" id="box" name="products[][name]"><br>
    <input type="text" id="box" name="products[][price]"><br>
    <input type="text" id="box" name="products[][color]"><br>
    <input type="submit" value="Submit"><br>
  </form>
</div> -->

<div class="topnav">
    <h1 align="center">Instrument Store</h1>
    <button id="add_div">Add New Instrument</button>
</div>
<div class="cart">
</div>
<!-- <h3>Items Available:</h3> -->
<div id='container'>
</div>
</body>
</html>